@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	background-color: #333;
	color: #fff;
}
h2 {
	font-size: 2.3rem;
	font-weight: 300;
	margin: 10px;
}
span {
	font-size: 30px;
}
p {
	font-size: 20px;
	font-weight: 500;
}
i {
	margin-bottom: 10px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	height: 100vh;
	width: 100vw;
}
.box {
	background-attachment: fixed;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;

	transition: all 0.3s ease-in;
}
.box:hover {
	opacity: 0.9;
	transform: scale(0.98);
}
.box-1 {
	grid-column: 1/3;
}
.box-6 {
	grid-column: 3/5;
}
.box-9 {
	grid-column: 3/5;
}
.box-10 {
	grid-column: 1/3;
}
.bg-2 {
	background-image: url("https://images.pexels.com/photos/628937/pexels-photo-628937.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
	color: #333;
}
.bg-1 {
	background-image: url("https://images.pexels.com/photos/327178/pexels-photo-327178.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}

